/* BASIC */
* {
    box-sizing: border-box;
}


/* HEADER */
.logo {
    width: 100px;
}

.img-logo {
    width: 100%;
}





/* HELPERS */

.flex {
    display: flex;
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

.clean-link{
color: inherit;
text-decoration: none;
}